div.boxplot-element {
	background: #fff;
	position: absolute;
	left: 40px;
	border: thin solid #000;
	width:30px;
	height: 0px;
}

div.boxplot-label {
	position: absolute;
	border: none;
    font-size: small;
}